[submodule "Chatting-App"]
	path = Chatting-App
	url = https://github.com/FoniksFox/Chatting-App.git
[submodule "Telemetry-App"]
	path = Telemetry-App
	url = https://github.com/FoniksFox/Telemetry-App.git
[submodule "Conway-Game-of-Life"]
	path = Conway-Game-of-Life
	url = https://github.com/FoniksFox/Conway-Game-of-Life.git
[submodule "Websocket"]
	path = Websocket
	url = https://github.com/FoniksFox/Websocket.git
